<div class="card custom-css">
    <form>
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
          placeholder="Enter email" name="Email" [(ngModel)]="emailId">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
      <br>
      <div style="text-align: center;">
        <button type="submit" class="btn btn-primary" (click)="forgotPassword()">Send Password</button>
      </div>
      <div>
        <br>
        <span style="float: right; font-weight: 100;font-size: 13px;" (click)="goToScreen('/login')">Want to Login?</span>
      </div>
    </form>
  </div>
  